on: [push, workflow_dispatch]

env:
  DEFAULT_PERSONAL_ACCESS_KEY: ${{ secrets.HUBSPOT_PERSONAL_ACCESS_KEY }}
  DEFAULT_ACCOUNT_ID: ${{ secrets.HUBSPOT_ACCOUNT_ID }}
  DEFAULT_PROFILE: "prod"
  DEFAULT_CLI_VERSION: "7.9.0"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: HubSpot Project Validation Action
        uses: ./project-validate
        with:
          project_dir: ./.github/workflows/test-project
      - name: HubSpot Project Upload Action
        id: upload-project-step
        uses: ./project-upload
        with:
          project_dir: ./.github/workflows/test-project
      - name: HubSpot Project Deploy Action
        if: ${{ steps.upload-project-step.outputs.build_id != '' }}
        uses: ./project-deploy
        with:
          project_dir: ./.github/workflows/test-project
          deploy_latest_build: true
